.idea
.idea/*
wallboxConfig.json
/OldMain.py
/OldModbusReader.py
/OldTouch.py
chargemode/__pycache__/__init__.cpython-310.pyc
chargemode/__pycache__/ChargeModeConfigurator.cpython-310.pyc
input/__pycache__/__init__.cpython-310.pyc
input/__pycache__/Input.cpython-310.pyc
input/__pycache__/TouchInputDummy.cpython-310.pyc
modbus/__pycache__/__init__.cpython-310.pyc
modbus/__pycache__/ModbusConfig.cpython-310.pyc
modbus/__pycache__/ModbusDataType.cpython-310.pyc
modbus/__pycache__/ModbusReader.cpython-310.pyc
output/__pycache__/__init__.cpython-310.pyc
output/__pycache__/Led.cpython-310.pyc
output/__pycache__/LedDummy.cpython-310.pyc
output/__pycache__/Output.cpython-310.pyc
output/drivers/__pycache__/__init__.cpython-310.pyc
output/drivers/__pycache__/i2c_dev_dummy.cpython-310.pyc
